{% extends 'base.html' %}
{% load static %}
{% block title %}Restaurant - About{% endblock title %}
{% block content %}
    <div class="title abt">
       <h1>About Us</h1>
    </div>
    <div class="about__content">
        <img src="{% static 'images/about.jpg' %}" alt="" srcset="">
        <div>
            <h1>About Us</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem vitae exercitationem voluptates consequuntur id maxime rerum soluta pariatur culpa repudiandae, tenetur, quae nemo veritatis accusantium in expedita autem delectus enim officia. Numquam mollitia, quo quia dignissimos hic asperiores nisi sequi sunt quasi recusandae, minus provident rerum tempore dicta autem reprehenderit corrupti dolor, fugit harum tenetur. Ullam nesciunt quaerat beatae adipisci qui quia necessitatibus quisquam, soluta totam? Delectus repellendus rerum magnam molestiae doloremque labore nisi nostrum molestias dolore, pariatur sapiente, illum, ducimus magni amet obcaecati similique itaque sequi necessitatibus? Sint, iste aperiam explicabo ad at eum veritatis delectus natus quisquam maxime.</p>
        </div>
    </div>  
{% endblock content %}