{% extends 'base.html' %} {% block title %}Restaurant - Home{% endblock title %}
{% load static %}
{% block content %}
<div class="hero">
  <div class="image">
    <img
      src="{% static 'images/main.webp' %}"
      alt="Background"
    />
  </div>
</div>
<div class="title">
  <h1>Grand Hyatt</h1>
</div>
<p class="description">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, laudantium
  magni fuga quibusdam, vel eum sit unde quos quae similique architecto quas?
  Consequatur, officiis quas. Fugit aspernatur sequi inventore laborum, mollitia
  exercitationem amet nemo officia sapiente, explicabo nostrum ratione, itaque
  voluptatem repellat doloremque. Labore, ex. Ea commodi modi culpa facere
  repudiandae recusandae amet, provident quaerat esse laudantium. Aliquam
  sapiente accusamus exercitationem voluptatum veritatis pariatur, similique
  doloribus veniam nostrum, dolor ad modi, repellat aspernatur quis odit
  asperiores ab ullam praesentium laborum reiciendis ea necessitatibus officia
  eaque totam? Ratione nisi, tempore corrupti eaque, repellat dolores et
  excepturi soluta optio dolor, eius aliquam.
</p>
{% endblock content %}
